/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
@import "utils";

$font_type0: 700 48px/1.2 "Roboto", Helvetica, Arial, serif;
$font_type1: 700 24px/1.2 "Roboto", Helvetica, Arial, serif;
$font_type2: 600 36px/1.2 "Roboto", Helvetica, Arial, serif;
$font_type3: 700 34px/1.2 "Roboto", Helvetica, Arial, serif;
$font_type4: 600 24px/1.2 "Roboto", Helvetica, Arial, serif;
$font_type5: 600 34px/1.2 "Roboto", Helvetica, Arial, serif;
$font_type6: 24px/1.2 "Roboto", Helvetica, Arial, serif;

.block {
  @include flex-column;
  background-color: rgb(255, 255, 255);
}
.block_layout {
  position: relative;
  overflow: hidden;
  min-height: 1024px;
  flex-shrink: 0;
}
.content_box {
  display: flex;
  background-color: rgb(96, 20, 108);
}
.content_box_layout {
  position: relative;
  height: min-content;
}
.content_box_item {
  @include flex-column;
  position: relative;
  flex: 0 1 114px;
}
.box2 {
  background-color: rgb(11, 69, 77);
  border-radius: 10px 10px 10px 10px;
}
.box2_layout {
  position: relative;
  height: 58px;
  margin: 16px 0px 15px 56px;
}
.content_box_spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 7px;
}
.hero_title {
  @include font-face($font_type0, rgb(255, 255, 255), 0px);
}
.hero_title_layout {
  position: relative;
  flex: 0 0 auto;
  height: min-content;
  margin: 19px 0px 12px;
}
.content_box_spacer1 {
  @include flex-column;
  position: relative;
  flex: 0 1 160px;
}
.medium_title {
  @include v-center-content;
  justify-content: center;
  font: $font_type1;
  color: rgb(255, 255, 255);
  text-align: center;
  letter-spacing: 0px;
}
.medium_title_layout {
  position: relative;
  flex: 0 0 auto;
  height: min-content;
  margin: 32.5px 0px 27.5px;
}
.content_box_spacer2 {
  @include flex-column;
  position: relative;
  flex: 0 1 93.5px;
}
.content_box_spacer3 {
  @include flex-column;
  position: relative;
  flex: 0 1 102.5px;
}
.content_box_spacer4 {
  @include flex-column;
  position: relative;
  flex: 0 1 113px;
}
.content_box_item1 {
  @include flex-column;
  position: relative;
  flex: 0 1 270px;
}
.cover_block6 {
  @include flex-column;
  background-color: rgb(196, 196, 196);
  border-radius: 10px 10px 10px 10px;
}
.cover_block6_layout {
  position: relative;
  height: min-content;
  margin: 26px 21px 26px 0px;
}
.medium_title1 {
  @include v-center-content;
  @include font-face($font_type1, rgb(255, 255, 255), 0px);
}
.medium_title1_layout {
  position: relative;
  height: min-content;
  margin: 4px 24px 4px 26px;
}
.hero_title1 {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  font: $font_type2;
  color: rgb(255, 255, 255);
  text-align: center;
  letter-spacing: 0px;
  white-space: pre-wrap;
}
.hero_title1_box {
  @include h-center-content;
}
.hero_title1_box_layout {
  position: relative;
  height: min-content;
  width: 89.44%;
  margin: 30px auto 0px;
}
.flex {
  display: flex;
}
.flex_layout {
  position: relative;
  height: min-content;
  width: 89.17%;
  margin: 36px auto 0px;
}
.flex_item {
  @include flex-column;
  position: relative;
  flex: 0 1 620px;
}
.cover_block5 {
  @include flex-column;
  background-color: rgb(225, 176, 34);
  border-radius: 10px 10px 10px 10px;
}
.cover_block5_layout {
  position: relative;
  height: min-content;
}
.hero_title2 {
  @include h-center-content;
  font: $font_type3;
  color: rgb(0, 0, 0);
  text-align: center;
  letter-spacing: 0px;
}
.hero_title2_layout {
  position: relative;
  height: min-content;
  width: 37.1%;
  margin: 15px auto 19px;
}
.flex_spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 44px;
}
.cover_block4 {
  @include flex-column;
  background-color: rgb(132, 206, 38);
  border-radius: 10px 10px 10px 10px;
}
.cover_block4_layout {
  position: relative;
  height: min-content;
}
.hero_title2_layout1 {
  position: relative;
  height: min-content;
  width: 34.68%;
  margin: 16px auto 18px;
}
.flex1 {
  display: flex;
}
.flex1_layout {
  position: relative;
  height: min-content;
  width: 92.43%;
  margin: 69px 3.4% 0px 4.17%;
}
.medium_title11 {
  @include font-face($font_type4, rgb(255, 255, 255), 0px);
}
.medium_title11_layout {
  position: relative;
  flex: 0 0 auto;
  height: min-content;
  margin: 9px 0px 10px;
}
.flex1_spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 49px;
}
.flex1_item {
  @include flex-column;
  position: relative;
  flex: 0 1 271px;
}
.cover_block {
  @include flex-column;
  background-color: rgb(96, 20, 108);
  border-radius: 10px 10px 10px 10px;
}
.cover_block_layout {
  position: relative;
  height: min-content;
  margin: 1px 0px 0px;
}
.medium_title12 {
  @include h-center-content;
  font: $font_type4;
  color: rgb(255, 255, 255);
  text-align: center;
  letter-spacing: 0px;
}
.medium_title12_layout {
  position: relative;
  height: min-content;
  width: 69%;
  margin: 8px auto 10px;
}
.flex1_spacer1 {
  @include flex-column;
  position: relative;
  flex: 0 1 33px;
}
.flex1_item1 {
  @include flex-column;
  position: relative;
  flex: 0 1 270px;
}
.cover_block2 {
  @include flex-column;
  background-color: rgb(96, 20, 108);
  border-radius: 10px 10px 10px 10px;
}
.cover_block2_layout {
  position: relative;
  height: min-content;
  margin: 0px 0px 1px;
}
.medium_title13 {
  @include h-center-content;
  font: $font_type4;
  color: rgb(255, 255, 255);
  text-align: center;
  letter-spacing: 0px;
}
.medium_title13_layout {
  position: relative;
  height: min-content;
  margin: 8px 27.5px 10px 30.5px;
}
.flex1_spacer2 {
  @include flex-column;
  position: relative;
  flex: 0 1 31px;
}
.cover_block_layout1 {
  position: relative;
  height: min-content;
  margin: 0px 0px 1px;
}
.medium_title14 {
  @include h-center-content;
  font: $font_type4;
  color: rgb(255, 255, 255);
  text-align: center;
  letter-spacing: 0px;
}
.medium_title14_layout {
  position: relative;
  height: min-content;
  width: 61.25%;
  margin: 8px auto 10px;
}
.flex1_spacer3 {
  @include flex-column;
  position: relative;
  flex: 0 1 33px;
}
.cover_block_layout2 {
  position: relative;
  height: min-content;
  margin: 0px 0px 1px;
}
.medium_title15 {
  @include h-center-content;
  font: $font_type4;
  color: rgb(255, 255, 255);
  text-align: center;
  letter-spacing: 0px;
}
.medium_title15_layout {
  position: relative;
  height: min-content;
  width: 28.04%;
  margin: 8px auto 10px;
}
.flex2 {
  display: flex;
}
.flex2_layout {
  position: relative;
  height: min-content;
  width: 92.92%;
  margin: 36px 3.19% 0px 3.89%;
}
.flex2_item {
  @include flex-column;
  position: relative;
  flex: 0 1 424px;
}
.cover_group5 {
  @include flex-column;
}
.cover_group5_layout {
  position: relative;
  height: min-content;
  margin: 1px 0px 0px;
}
.flex3 {
  @include flex-column;
  background-color: rgb(91, 39, 109);
  border-radius: 10px 10px 10px 10px;
}
.flex3_layout {
  position: relative;
  height: min-content;
}
.flex4 {
  display: flex;
}
.flex4_layout {
  position: relative;
  height: min-content;
  margin: 23px 22px 0px;
}
.flex4_item {
  @include flex-column;
  position: relative;
  flex: 0 1 84px;
}
.box9 {
  background-color: rgb(245, 142, 254);
  border-radius: 10px 10px 10px 10px;
}
.box9_layout {
  position: relative;
  height: 86px;
}
.flex4_spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 16px;
}
.flex4_item1 {
  @include flex-column;
  position: relative;
  flex: 1 1 274px;
}
.hero_title3 {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  @include font-face($font_type5, rgb(255, 255, 255), 0px);
  white-space: pre-wrap;
}
.hero_title3_box_layout {
  position: relative;
  height: min-content;
  margin: 0px 0px 4px;
}
.medium_title2 {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  @include font-face($font_type6, rgb(255, 255, 255), 0px);
  white-space: pre-wrap;
}
.medium_title2_box_layout {
  position: relative;
  height: min-content;
  width: 64.39%;
  margin: 12px 30.42% 7px 5.19%;
}
.flex4_spacer1 {
  @include flex-column;
  position: relative;
  flex: 0 1 33px;
}
.flex4_item2 {
  @include flex-column;
  position: relative;
  flex: 0 1 424px;
}
.cover_group4 {
  @include flex-column;
  background-color: rgb(91, 39, 109);
  border-radius: 10px 10px 10px 10px;
}
.cover_group4_layout {
  position: relative;
  height: min-content;
  margin: 0px 0px 1px;
}
.flex5 {
  @include flex-column;
  background-color: rgb(91, 39, 109);
  border-radius: 10px 10px 10px 10px;
}
.flex5_layout {
  position: relative;
  height: min-content;
}
.flex6 {
  display: flex;
}
.flex6_layout {
  position: relative;
  height: min-content;
  margin: 23px 22px 0px;
}
.flex6_item {
  @include flex-column;
  position: relative;
  flex: 0 1 84px;
}
.box10 {
  background-color: rgb(142, 254, 187);
  border-radius: 10px 10px 10px 10px;
}
.box10_layout {
  position: relative;
  height: 86px;
}
.flex6_spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 16px;
}
.flex6_item1 {
  @include flex-column;
  position: relative;
  flex: 1 1 274px;
}
.hero_title31_box_layout {
  position: relative;
  height: min-content;
  margin: 0px 0px 4px;
}
.medium_title21_box_layout {
  position: relative;
  height: min-content;
  width: 64.39%;
  margin: 12px 30.42% 7px 5.19%;
}
.flex6_spacer1 {
  @include flex-column;
  position: relative;
  flex: 0 1 33px;
}
.flex6_item2 {
  @include flex-column;
  position: relative;
  flex: 0 1 424px;
}
.cover_group3 {
  @include flex-column;
  background-color: rgb(91, 39, 109);
  border-radius: 10px 10px 10px 10px;
}
.cover_group3_layout {
  position: relative;
  height: min-content;
  margin: 1px 0px 0px;
}
.flex7 {
  @include flex-column;
  background-color: rgb(91, 39, 109);
  border-radius: 10px 10px 10px 10px;
}
.flex7_layout {
  position: relative;
  height: min-content;
}
.flex8 {
  display: flex;
}
.flex8_layout {
  position: relative;
  height: min-content;
  margin: 23px 22px 0px;
}
.flex8_item {
  @include flex-column;
  position: relative;
  flex: 0 1 84px;
}
.box11 {
  background-color: rgb(254, 142, 142);
  border-radius: 10px 10px 10px 10px;
}
.box11_layout {
  position: relative;
  height: 86px;
}
.flex8_spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 16px;
}
.flex8_item1 {
  @include flex-column;
  position: relative;
  flex: 1 1 274px;
}
.flex9 {
  display: flex;
}
.flex9_layout {
  position: relative;
  height: min-content;
  width: 92.92%;
  margin: 33px 3.19% 31px 3.89%;
}
.flex9_item {
  @include flex-column;
  position: relative;
  flex: 0 1 424px;
}
.cover_group2 {
  @include flex-column;
  background-color: rgb(91, 39, 109);
  border-radius: 10px 10px 10px 10px;
}
.cover_group2_layout {
  position: relative;
  height: min-content;
  margin: 1px 0px 0px;
}
.flex10 {
  @include flex-column;
  background-color: rgb(91, 39, 109);
  border-radius: 10px 10px 10px 10px;
}
.flex10_layout {
  position: relative;
  height: min-content;
}
.flex11 {
  display: flex;
}
.flex11_layout {
  position: relative;
  height: min-content;
  margin: 23px 22px 0px;
}
.flex11_item {
  @include flex-column;
  position: relative;
  flex: 0 1 84px;
}
.box12 {
  background-color: rgb(245, 254, 142);
  border-radius: 10px 10px 10px 10px;
}
.box12_layout {
  position: relative;
  height: 86px;
}
.flex11_spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 16px;
}
.flex11_item1 {
  @include flex-column;
  position: relative;
  flex: 1 1 274px;
}
.flex11_spacer1 {
  @include flex-column;
  position: relative;
  flex: 0 1 33px;
}
.flex11_item2 {
  @include flex-column;
  position: relative;
  flex: 0 1 424px;
}
.cover_group1 {
  @include flex-column;
  background-color: rgb(91, 39, 109);
  border-radius: 10px 10px 10px 10px;
}
.cover_group1_layout {
  position: relative;
  height: min-content;
  margin: 0px 0px 1px;
}
.flex12 {
  @include flex-column;
  background-color: rgb(91, 39, 109);
  border-radius: 10px 10px 10px 10px;
}
.flex12_layout {
  position: relative;
  height: min-content;
}
.flex13 {
  display: flex;
}
.flex13_layout {
  position: relative;
  height: min-content;
  margin: 23px 22px 0px;
}
.flex13_item {
  @include flex-column;
  position: relative;
  flex: 0 1 84px;
}
.box13 {
  background-color: rgb(142, 247, 254);
  border-radius: 10px 10px 10px 10px;
}
.box13_layout {
  position: relative;
  height: 86px;
}
.flex13_spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 16px;
}
.flex13_item1 {
  @include flex-column;
  position: relative;
  flex: 1 1 274px;
}
.flex13_spacer1 {
  @include flex-column;
  position: relative;
  flex: 0 1 33px;
}
.flex13_item2 {
  @include flex-column;
  position: relative;
  flex: 0 1 424px;
}
.cover_group {
  @include flex-column;
  background-color: rgb(91, 39, 109);
  border-radius: 10px 10px 10px 10px;
}
.cover_group_layout {
  position: relative;
  height: min-content;
  margin: 1px 0px 0px;
}
.flex14 {
  @include flex-column;
  background-color: rgb(91, 39, 109);
  border-radius: 10px 10px 10px 10px;
}
.flex14_layout {
  position: relative;
  height: min-content;
}
.flex15 {
  display: flex;
}
.flex15_layout {
  position: relative;
  height: min-content;
  margin: 23px 22px 0px;
}
.flex15_item {
  @include flex-column;
  position: relative;
  flex: 0 1 84px;
}
.box14 {
  background-color: rgb(205, 142, 254);
  border-radius: 10px 10px 10px 10px;
}
.box14_layout {
  position: relative;
  height: 86px;
}
.flex15_spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 16px;
}
.flex15_item1 {
  @include flex-column;
  position: relative;
  flex: 1 1 274px;
}
