/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
.main--class-block {
  display: flex;
  flex-direction: column;
  background-color: white; }

.main--class-block.layout {
  position: relative;
  overflow: hidden;
  min-height: 1024px;
  flex-shrink: 0; }

.main--class-content-box {
  display: flex;
  background-color: #60146c; }

.main--class-content-box.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content; }

.main--class-content-box-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 114px; }

.main--class-box2 {
  background-color: #0b454d;
  border-radius: 10px 10px 10px 10px; }

.main--class-box2.layout {
  position: relative;
  height: 58px;
  margin: 16px 0px 15px 56px; }

.main--class-content-box-spacer {
  flex: 0 1 7px; }

.main--class-hero-title {
  font: 700 48px/1.2 "Roboto", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px; }

.main--class-hero-title.layout {
  position: relative;
  flex: 0 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 19px 0px 12px; }

.main--class-content-box-spacer1 {
  flex: 0 1 160px; }

.main--class-medium-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 700 24px/1.2 "Roboto", Helvetica, Arial, serif;
  color: white;
  text-align: center;
  letter-spacing: 0px; }

.main--class-medium-title.layout {
  position: relative;
  flex: 0 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 32.5px 0px 27.5px; }

.main--class-content-box-spacer2 {
  flex: 0 1 93.5px; }

.main--class-content-box-spacer3 {
  flex: 0 1 102.5px; }

.main--class-content-box-spacer4 {
  flex: 0 1 113px; }

.main--class-content-box-item1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 270px; }

.main--class-cover-block6 {
  display: flex;
  flex-direction: column;
  background-color: #c4c4c4;
  border-radius: 10px 10px 10px 10px; }

.main--class-cover-block6.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 26px 21px 26px 0px; }

.main--class-medium-title1 {
  display: flex;
  align-items: center;
  font: 700 24px/1.2 "Roboto", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px; }

.main--class-medium-title1.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 4px 24px 4px 26px; }

.main--class-hero-title1-box {
  display: flex;
  justify-content: center; }

.main--class-hero-title1-box.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 89.44%;
  margin: 30px auto 0px; }

.main--class-hero-title1 {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  font: 600 36px/1.2 "Roboto", Helvetica, Arial, serif;
  color: white;
  text-align: center;
  letter-spacing: 0px;
  white-space: pre-wrap; }

.main--class-flex {
  display: flex; }

.main--class-flex.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 89.17%;
  margin: 36px auto 0px; }

.main--class-flex-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 620px; }

.main--class-cover-block5 {
  display: flex;
  flex-direction: column;
  background-color: #e1b022;
  border-radius: 10px 10px 10px 10px; }

.main--class-cover-block5.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content; }

.main--class-hero-title2 {
  display: flex;
  justify-content: center;
  font: 700 34px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px; }

.main--class-hero-title2.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 37.1%;
  margin: 15px auto 19px; }

.main--class-flex-spacer {
  flex: 0 1 44px; }

.main--class-cover-block4 {
  display: flex;
  flex-direction: column;
  background-color: #84ce26;
  border-radius: 10px 10px 10px 10px; }

.main--class-cover-block4.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content; }

.main--class-hero-title2.layout1 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 34.68%;
  margin: 16px auto 18px; }

.main--class-flex1 {
  display: flex; }

.main--class-flex1.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 92.43%;
  margin: 69px 3.4% 0px 4.17%; }

.main--class-medium-title11 {
  font: 600 24px/1.2 "Roboto", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px; }

.main--class-medium-title11.layout {
  position: relative;
  flex: 0 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 9px 0px 10px; }

.main--class-flex1-spacer {
  flex: 0 1 49px; }

.main--class-flex1-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 271px; }

.main--class-cover-block {
  display: flex;
  flex-direction: column;
  background-color: #60146c;
  border-radius: 10px 10px 10px 10px; }

.main--class-cover-block.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 1px 0px 0px; }

.main--class-medium-title12 {
  display: flex;
  justify-content: center;
  font: 600 24px/1.2 "Roboto", Helvetica, Arial, serif;
  color: white;
  text-align: center;
  letter-spacing: 0px; }

.main--class-medium-title12.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 69%;
  margin: 8px auto 10px; }

.main--class-flex1-spacer1 {
  flex: 0 1 33px; }

.main--class-flex1-item1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 270px; }

.main--class-cover-block2 {
  display: flex;
  flex-direction: column;
  background-color: #60146c;
  border-radius: 10px 10px 10px 10px; }

.main--class-cover-block2.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 0px 0px 1px; }

.main--class-medium-title13 {
  display: flex;
  justify-content: center;
  font: 600 24px/1.2 "Roboto", Helvetica, Arial, serif;
  color: white;
  text-align: center;
  letter-spacing: 0px; }

.main--class-medium-title13.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 8px 27.5px 10px 30.5px; }

.main--class-flex1-spacer2 {
  flex: 0 1 31px; }

.main--class-cover-block.layout1 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 0px 0px 1px; }

.main--class-medium-title14 {
  display: flex;
  justify-content: center;
  font: 600 24px/1.2 "Roboto", Helvetica, Arial, serif;
  color: white;
  text-align: center;
  letter-spacing: 0px; }

.main--class-medium-title14.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 61.25%;
  margin: 8px auto 10px; }

.main--class-flex1-spacer3 {
  flex: 0 1 33px; }

.main--class-cover-block.layout2 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 0px 0px 1px; }

.main--class-medium-title15 {
  display: flex;
  justify-content: center;
  font: 600 24px/1.2 "Roboto", Helvetica, Arial, serif;
  color: white;
  text-align: center;
  letter-spacing: 0px; }

.main--class-medium-title15.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 28.04%;
  margin: 8px auto 10px; }

.main--class-flex2 {
  display: flex; }

.main--class-flex2.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 92.92%;
  margin: 36px 3.19% 0px 3.89%; }

.main--class-flex2-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 424px; }

.main--class-cover-group5 {
  display: flex;
  flex-direction: column; }

.main--class-cover-group5.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 1px 0px 0px; }

.main--class-flex3 {
  display: flex;
  flex-direction: column;
  background-color: #5b276d;
  border-radius: 10px 10px 10px 10px; }

.main--class-flex3.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content; }

.main--class-flex4 {
  display: flex; }

.main--class-flex4.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 23px 22px 0px; }

.main--class-flex4-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 84px; }

.main--class-box9 {
  background-color: #f58efe;
  border-radius: 10px 10px 10px 10px; }

.main--class-box9.layout {
  position: relative;
  height: 86px; }

.main--class-flex4-spacer {
  flex: 0 1 16px; }

.main--class-flex4-item1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 1 274px; }

.main--class-hero-title3-box.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 0px 0px 4px; }

.main--class-hero-title3 {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  font: 600 34px/1.2 "Roboto", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px;
  white-space: pre-wrap; }

.main--class-medium-title2-box.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 64.39%;
  margin: 12px 30.42% 7px 5.19%; }

.main--class-medium-title2 {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  font: 24px/1.2 "Roboto", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px;
  white-space: pre-wrap; }

.main--class-flex4-spacer1 {
  flex: 0 1 33px; }

.main--class-flex4-item2 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 424px; }

.main--class-cover-group4 {
  display: flex;
  flex-direction: column;
  background-color: #5b276d;
  border-radius: 10px 10px 10px 10px; }

.main--class-cover-group4.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 0px 0px 1px; }

.main--class-flex5 {
  display: flex;
  flex-direction: column;
  background-color: #5b276d;
  border-radius: 10px 10px 10px 10px; }

.main--class-flex5.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content; }

.main--class-flex6 {
  display: flex; }

.main--class-flex6.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 23px 22px 0px; }

.main--class-flex6-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 84px; }

.main--class-box10 {
  background-color: #8efebb;
  border-radius: 10px 10px 10px 10px; }

.main--class-box10.layout {
  position: relative;
  height: 86px; }

.main--class-flex6-spacer {
  flex: 0 1 16px; }

.main--class-flex6-item1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 1 274px; }

.main--class-hero-title31-box.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 0px 0px 4px; }

.main--class-medium-title21-box.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 64.39%;
  margin: 12px 30.42% 7px 5.19%; }

.main--class-flex6-spacer1 {
  flex: 0 1 33px; }

.main--class-flex6-item2 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 424px; }

.main--class-cover-group3 {
  display: flex;
  flex-direction: column;
  background-color: #5b276d;
  border-radius: 10px 10px 10px 10px; }

.main--class-cover-group3.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 1px 0px 0px; }

.main--class-flex7 {
  display: flex;
  flex-direction: column;
  background-color: #5b276d;
  border-radius: 10px 10px 10px 10px; }

.main--class-flex7.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content; }

.main--class-flex8 {
  display: flex; }

.main--class-flex8.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 23px 22px 0px; }

.main--class-flex8-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 84px; }

.main--class-box11 {
  background-color: #fe8e8e;
  border-radius: 10px 10px 10px 10px; }

.main--class-box11.layout {
  position: relative;
  height: 86px; }

.main--class-flex8-spacer {
  flex: 0 1 16px; }

.main--class-flex8-item1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 1 274px; }

.main--class-flex9 {
  display: flex; }

.main--class-flex9.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 92.92%;
  margin: 33px 3.19% 31px 3.89%; }

.main--class-flex9-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 424px; }

.main--class-cover-group2 {
  display: flex;
  flex-direction: column;
  background-color: #5b276d;
  border-radius: 10px 10px 10px 10px; }

.main--class-cover-group2.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 1px 0px 0px; }

.main--class-flex10 {
  display: flex;
  flex-direction: column;
  background-color: #5b276d;
  border-radius: 10px 10px 10px 10px; }

.main--class-flex10.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content; }

.main--class-flex11 {
  display: flex; }

.main--class-flex11.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 23px 22px 0px; }

.main--class-flex11-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 84px; }

.main--class-box12 {
  background-color: #f5fe8e;
  border-radius: 10px 10px 10px 10px; }

.main--class-box12.layout {
  position: relative;
  height: 86px; }

.main--class-flex11-spacer {
  flex: 0 1 16px; }

.main--class-flex11-item1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 1 274px; }

.main--class-flex11-spacer1 {
  flex: 0 1 33px; }

.main--class-flex11-item2 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 424px; }

.main--class-cover-group1 {
  display: flex;
  flex-direction: column;
  background-color: #5b276d;
  border-radius: 10px 10px 10px 10px; }

.main--class-cover-group1.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 0px 0px 1px; }

.main--class-flex12 {
  display: flex;
  flex-direction: column;
  background-color: #5b276d;
  border-radius: 10px 10px 10px 10px; }

.main--class-flex12.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content; }

.main--class-flex13 {
  display: flex; }

.main--class-flex13.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 23px 22px 0px; }

.main--class-flex13-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 84px; }

.main--class-box13 {
  background-color: #8ef7fe;
  border-radius: 10px 10px 10px 10px; }

.main--class-box13.layout {
  position: relative;
  height: 86px; }

.main--class-flex13-spacer {
  flex: 0 1 16px; }

.main--class-flex13-item1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 1 274px; }

.main--class-flex13-spacer1 {
  flex: 0 1 33px; }

.main--class-flex13-item2 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 424px; }

.main--class-cover-group {
  display: flex;
  flex-direction: column;
  background-color: #5b276d;
  border-radius: 10px 10px 10px 10px; }

.main--class-cover-group.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 1px 0px 0px; }

.main--class-flex14 {
  display: flex;
  flex-direction: column;
  background-color: #5b276d;
  border-radius: 10px 10px 10px 10px; }

.main--class-flex14.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content; }

.main--class-flex15 {
  display: flex; }

.main--class-flex15.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 23px 22px 0px; }

.main--class-flex15-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 84px; }

.main--class-box14 {
  background-color: #cd8efe;
  border-radius: 10px 10px 10px 10px; }

.main--class-box14.layout {
  position: relative;
  height: 86px; }

.main--class-flex15-spacer {
  flex: 0 1 16px; }

.main--class-flex15-item1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 1 274px; }
